.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 520px;
  label[hidden] {
    display: none;
  }
  &__input {
    padding: 16px 24px;
    align-items: flex-start;
    font-family: Epilogue;
    line-height: 27px;
    margin-bottom: 2px;
    background-color: var(--color-brand-dark);
    &:focus {
      color: var(--color-brand-dark);
      background-color: var(--color-brand-grey);
    }
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &__message {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 30px;
  }
}
::placeholder {
  color: var(--color-brand-white);
}
