.contact-section {
  background-color: var(--color-brand-grey);
  border-top: 3px solid var(--color-brand-dark);
  position: relative;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__detail-container {
    max-width: 570px;
  }
}
